<div class="footer">
    <div class="footer__inner">
        <ul>
            <li routerLink="home"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>Home</li>
            <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="sports_cricket"></mat-icon>Cricket</li>
            <li routerLink="passbook"> <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_balance_wallet"></mat-icon>Passbook</li>
            <li routerLink="create-id"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="group"></mat-icon>ID's</li>
        </ul>
    </div>
</div>
