<div class="step_body">
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title> <mat-icon>qr_code_2</mat-icon> OR Code </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="payment_body">
                <div class="row">
                    <div class="col">
                        <img [src]="qrCodeUrl" alt="">
                    </div>
                    <div class="col disp_name">
                        <span>Display name:</span>  
                        <label for="">Admin hai mera nam</label>
                    </div>
                </div>
            </div>
           
            <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">Or via UPI</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title> <mat-icon>sensor_occupied</mat-icon> UPI Payment </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="payment_body">
                <table>     
                    <tbody>
                        <tr>
                            <td>Model</td>
                            <td><img [src]="phonePayUrl" alt=""  width="20"></td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>Admin Name</td>
                        </tr>
                        <tr>
                            <td>UPI ID</td>
                            <td>atish@upi</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">or Via Bank</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title> <mat-icon>account_balance</mat-icon> Bank Details </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="payment_body">
                <table>     
                    <tbody>
                        <tr>
                            <td>Bank Name</td>
                            <td>HDFC Bank</td>
                        </tr>
                        <tr>
                            <td>Account number</td>
                            <td>50200079413018</td>
                        </tr>
                        <tr>
                            <td>IFSC Code</td>
                            <td>HDFC0000466</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>Admin Name</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">End</button>
            </mat-action-row>
        </mat-expansion-panel>

    </mat-accordion>


    <div class="payment_sec">
        <form #myForm="ngForm" (ngSubmit)="paymentMethodSubmit(myForm.value)">

            <label for="">Upload Payment screen-shot/Image</label>
            <input type="file" required  name="screen_shot"  ngModel><br>
            <input type="text"  name="utr" placeholder="UTR number" ngModel>
            <!-- <input type="text" formControlName="website" [value]="showWebsite" name="website"  >{{ empData.website }}
                <input type="text" formControlName="name" value="{{showName}}" name="name"  >
                <input type="text" formControlName="img_url" [value]="showImg_url" name="img_url"  >{{empData.img_url}} -->
                <!-- <div class="text-red text-right"
                    *ngIf="firstFormGroup.get('utr').invalid && firstFormGroup.get('utr').touched">
                    <span *ngIf="firstFormGroup.get('utr').errors?.required">utr is invalid</span>
                </div> -->
                
                <p class="tip" >Tip: select only one payment methode </p>
                <div class="step_3_btn" style="padding-bottom: 100px;">
                    <span><button mat-flat-button class="button_primary"  type="submit">Deposit Amount</button></span>
                </div>
            </form>
    </div>
</div>