<section class="dashboard">
    <div class="fix_top_header_main">
        <mat-toolbar  class="fix_top_header">
            <button class="btn_none">
              <img [src]="logoUrl" width="49" alt="">
            </button>
            <span>Cricfoot</span>
            <span class="example-spacer"></span>
            
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon style="color: #1182b0">person</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon style="color: #1182b0">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" >
              <button mat-menu-item (click)="openDialog()">
                <mat-icon>logout</mat-icon>
                <span>Log Out</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </mat-toolbar>
    </div>
<div class="row">
    <div class="col_2" style="z-index: 2;">
        <app-header></app-header> 
    </div>
    <div class="col size_d">
      <router-outlet></router-outlet>
     <!-- <app-dash-home></app-dash-home> -->
    </div>  
</div>    
</section>

<app-footer></app-footer>